<nav class="navbar navbar-expand-lg">
  <div class="container container-fluid"><h1><i class="fas fa-award"></i></h1>
      <a class="navbar-brand" href="/">
          Awwards
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <i class="fa fa-bars"></i>
      </button>

      <div class="col-md-2"></div>
      <a href="/"><i class="fas fa-house-user"></i>Home</a>

      <div class="col-md-2"></div>
      <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <ul class="navbar-nav nav-right">
              <li class="nav-item text-center">
                {% if user.is_authenticated %}
                
                    <span class="nav-link text-dark"><a href="/profile/" class="text-primary"><i
                        class="fa fa-user-alt"></i><br><strong>{{ user.username }}</strong></a></span>
            
                <div class="col-md-2"></div>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                    aria-expanded="false">Dashboard Nav
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="/admin/">Admin</a>
                    </li>
                    <li>
                      <a href="/profile/">Profile</a>
                    </li>
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li>
                      <a href="/logout">Logout</a>
                    </li>
                  </ul>
                </li>
                {% else %}
                <li>
                  <a class='btn btn-danger' style="color: white;" href="accounts/register">Sigup</a>
                </li>
                <li>
                  <a class='btn btn-danger' style="color: white; margin-left:5px" href="accounts/login">Login</a>
                </li>
      
                {% endif %}
              </li>
          </ul>
      </div>
  </div>
</nav>

<form action="{% url 'search_project' %}" class="mt-5" >
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for Project..." aria-label="Search for..."
            aria-describedby="basic-addon2" name="search_term">
        <div class="input-group-append">
            <button class="btn" type="button">Search</button>
        </div>
    </div>
</form>