

<nav class="navbar navbar-expand-lg">
  <div class="container container-fluid"><h1><i class="fas fa-award"></i></h1>
      <a class="navbar-brand text-dark" href="/">Awwards</a>
      <div class="col-md-1"></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <ul class="navbar-nav nav-right">
              <li class="nav-item text-center">
                {% if user.is_authenticated %}
                <div class="row">
                    <button><a href="/" class="text-white"><i class="fas fa-house-user"></i>Home</a></button>
                    <div class="col-md-1"></div>
                    <button><a href="/profile/" class="text-white"><i class="fas fa-house-user"></i>Add project</a></button>
                    <div class="col-md-1"></div>
                    
                    <button><li class="dropdown text-dark">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                        aria-expanded="false">Dashboard Nav
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu text-dark" role="menu">
                        <li>
                        <a href="/admin/">Admin</a>
                        </li>
                        <li>
                        <a href="/profile/">Profile</a>
                        </li>
                        <li>
                        <a href="/">Home</a>
                        </li>
                        <li>
                        <a href="/logout">Logout</a>
                        </li>
                    </ul>
                    </li></button>
                    <div class="col-md-1"></div>
                        <div class="col-md-1">
                            <span class="nav-link text-dark"><a href="/profile/" class="text-primary"><i
                            class="fa fa-user-alt"></i><br><strong>{{ user.username }}</strong></a></span>
                        </div>        
                </div>
                {% else %}
                <li>
                <button><h1><a href="/" class="text-white"><i class="fas fa-house-user"></i>Home</a><h1></button>
                </li>
      
                {% endif %}
              </li>
          </ul>
      </div>
  </div>
</nav>

<form action="{% url 'search_project' %}" class="mt-5" >
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for Project..." aria-label="Search for..."
            aria-describedby="basic-addon2" name="search_term">
        <div class="input-group-append">
            <button class="btn" type="button">Search</button>
        </div>
    </div>
</form>